.portfolio {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  position: relative;
}

.portfolio img {
  width: 18%;
  object-fit: cover;

  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;

  transform: scale(1.3);

  filter: drop-shadow(0 0 8px #5fd56f99);
}

@media only screen and (max-width: 68.75em) {
  .portfolio img {
    transform: scale(1.5);
    filter: drop-shadow(0 0 4px #5fd56f99);
  }
}

.custom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #073272;
  position: absolute;
  top: 20rem;
}

@media only screen and (max-width: 68.75em) {
  .custom {
    top: 23rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .custom {
    top: 17rem;
  }
  .portfolio {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .custom {
    top: 13rem;
  }
  .portfolio {
    margin-bottom: 3rem;
  }
}

.custom h1 {
  word-spacing: -1rem;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
