/** 
$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px 
$bp-tiny: 25em;// 400px*/

:root {
  --bp-largest: 75em;
  --bp-large: 68.75em;
  --bp-medium: 56.25em;
  --bp-small: 37.5em;
  --bp-smallest: 31.25em;
  --bp-tiny: 25em;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 40%;
  }
}
body {
  background-image: url("./assets/backgroundlight.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.8rem;

  transition: all 0.8s;
}

.dark-mode {
  background-image: url("./assets/darkmode.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode p,
body.dark-mode button,
body.dark-mode span {
  color: #fff;
}

.btn {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 0.6rem 1.2rem;
  background-color: inherit;
  border: 1px solid rgba(95, 213, 111, 0.6);
  color: #0077cc;
  border-radius: 7px;
  z-index: 10000;
}

main {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}
